__pycache__

.DS_Store

.ipynb_checkpoints

data
savedata
figures
models
external

notebooks/baselines/checkpoints
notebooks/baselines/test_results
notebooks/baselines/result.txt
notebooks/baselines/results
